body {
	font-family: verdana;
}

h1 {
	margin-bottom: 10px;
	font-size: 2em;
}

h1 a {
	text-decoration: none;
	color: inherit;
}

#container {
	width: 960px;
	margin: 0 auto;
}

input.title {
	font-size: 1.0em;
	padding: 5px;
	width: 80%;
	border: 1px solid #ccc;
}

label {
	display: none;
}

p.nb {
	margin-top: 30px;
	color: #777;
	font-size: 0.7em;
	margin-bottom: 10px;
}

#footer {
	color: #555;
	border-top: 1px solid #ccc;
	text-align: right;
	font-size: 0.7em;
}

#shorten-form {
	margin-bottom: 70px;
}

#shorten-form .input {
	width: 80%;
}
#shorten-form .submit {	
	width: 20%;
}
#shorten-form .submit input {	
	margin-left: 20px;
}

#shorten-form .input,
#shorten-form .submit {
	display:inline;
}

div.error-message {
	width: 80%;
	background-color: #fcc;
	padding: 5px;
	border: 1px solid #f99;
	margin-bottom: 10px;
}
